kivy=git+https://github.com/kivy/kivy.git@master
kivymd=https://github.com/kivymd/KivyMD/archive/master.zip
plyer
requests
bs4
tqdm
pykakasi
os
pathlib
re
threading
concurrent.futures # Built in
shutil
lxml
json
natsort